body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  background-color: rgb(192, 202, 173);
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

a.nav-link {
  padding: 2vw;
  margin: 2vw;
  background-color: rgb(206, 160, 126);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid gold;
  box-shadow: 0 1vw 1vh 0 rgba(0, 0, 0.2);
}

a.nav-link.active{
  padding: 2vw;
  margin: 2vw;
  background-color: black;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: 2px solid red;
  box-shadow: 0 2vw 4vh 0 rgba(0, 0, 0.2);
}

div.home {
  text-align: center;
  min-height: 100vh;
}

div.formDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.otherSearch {
  margin-top: 1vh;
}

div.savedGames {
  min-height: 100vh;

}

h1.savedGamesH1 {
  text-align: center;
}

div.gameCardDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.gamesdisplay {
  background-color: rgb(192, 202, 173);
}

div.gamecard {
  text-align: center;
  padding: 2vh 5vw;
  margin: 4vh 25vw;
  background-color: rgb(146, 175, 215);
  border: 4px solid gray;
  box-shadow: 0 1vw 1vh 0 rgba(0, 0, 0.2);
}

div.gamecard:hover {
  box-shadow: 0 2vw 4vh 0 rgba(0, 0, 0.2);
}

h1.gamecardtitle {
  text-decoration: underline solid white 2px;
  padding: 1vh;
}

p.gamecardgenre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

div.infodiv {
  background-color: rgb(206, 223, 217);
  margin: 2vh 5vw;
  padding: 1vh 2vw;
  border-radius: 20px;
}

div.buttonDiv {
  display: flex;
  justify-content: space-around;
}

div.addGamePage{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

div.addGameForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(146, 175, 215);
  padding: 1.5vh 2vh;
  margin: 1vh 30vw;
  border-radius: 30px;
  border: 2px solid black;
}

div.submitButton{
  text-align: center;
  margin: 1vh 1vw;
}

a.navlinkButton{
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  border: 1px solid rgb(122, 113, 113);
  padding: 1vh 1.65vw;
}

div.previewDiv{
  text-align: center;
}

 div.showPreviewDiv{
  text-align: center;
  margin: 3vh 0vw 0vw 0vh;
 }

 div.none {
  text-align: center;
  background-color: aqua;
  padding: 5vh 0vw;
  margin: 0vh 15vw;
  border: 4px solid gray;
  border-radius: 10px;
 }